/* 폰트 */
@font-face {
  font-family: 'OKDDUNG';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HBIOS-SYS';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* 네온 */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


/* 태그 */
body {

    background : radial-gradient(ellipse, #13242f, hsl(0, 3%, 7%) 95%);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

canvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'OKDDUNG';
    letter-spacing: 15px; /*자간*/

    /*네온컬러변화*/
    --hue: 0;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: hsl(var(--hue), 50%, 95%);
    text-shadow:
      0 0 15px hsl(var(--hue), 60%, 90%, .80),
      0 0 20px hsl(var(--hue), 70%, 80%, .85),
      0 0 40px hsl(var(--hue), 80%, 70%, .90),
      0 0 60px hsl(var(--hue), 90%, 60%, .95),
      0 0 80px hsl(var(--hue), 100%, 50%, 1)
}
  

input{
    width: 100px;
    margin-right: 20px;
  }

 /* 클래스*/
.input > label {
    color: white;
    font-family: 'HBIOS-SYS';
  }
 
.div1 {
    display : flex;
    flex-direction:row;
    position: relative;
  }

.div1 > .card{
    position :relative;
  }
.div1 > .noshow {
    display: none;
  }
  
  
.div1 > .show {
    display: inline-block;
}
  
.cardimg {
    width: 90px;
    height: 130px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 200px;
    cursor: pointer;
  }

  
.txt1{
    font-family: "HBIOS-SYS";
    position :absolute;
    z-index : 400;
    display: none;
    font-size :larger;
    cursor:pointer;
    color: white;
  }


.right{
    transform: scale(0.06) translateX(300px);
    animation: upDownPointer 1s linear infinite;
    float: right;     
  }

.left{
    float: left;
    margin-top: 230px;
    margin-left: 50px;
  }

  .txt2 {
    white-space: nowrap; 
    position :absolute;
    z-index : 1400;
    text-align :center;
    writing-mode:horizontal-tb;
    margin : 230px 65px;
    transform: rotate(90deg) rotateY(180deg);
    font-size :15pt;
    cursor:pointer;
  }

  .btn > button{
    border: none;
    background: none;
    cursor: pointer;
    z-index: 3000;
  }

  .div2{
    /* flex-direction: row; */
    font-family: "HBIOS-SYS";
    flex-direction: column;
    /* margin-left: 280px; */
  }

  .div2_1{
    display: none;
    flex-direction: row;
    /* position: relative; */
    margin-left: 280px;
    z-index: 300;
    
  }

  .div2_2{
    display: none;
    flex-direction: row;
    /* position: relative; */
    margin-left: 280px;
    z-index: 300;
    
  }

  .btnLeft{
    color: antiquewhite;
    float: left;
  }

  .btnRight{
    color: antiquewhite;
    float: right;
    transform: translateY(55px);
  }
  
  button img {
    margin-top: 20px;
    width: 30px;
    height: 30px;
   
  ;
  }
  .btn{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* 아이디 */
#btnY, #btnN{
  background: none;
  border: none;
  transform: scale(0.7) translateY(63px);
}

  #submitBtn {
    width: 50px;
    transform: scaleX(2);
    margin-left : 10px;
    margin-right : 10px;
    /* height : 90px; */
  }

  #reset {
    transform: scale(1.1);
  }


/* 애니메이션 클래스 */
  
.slideUp {
    animation: slideUp 1s;
    animation-fill-mode: forwards;
  }
  
.slideDown {
    animation: slideDown 1s;
    animation-fill-mode: forwards;
  }
  
.rotateCard {
    animation: rotateCard 1s linear 1;
    animation-fill-mode: forwards;
    margin-left: 210px;
    margin-bottom: 10px;
  }
  
.shuffle1{
    animation: shuffle1 2s linear 1;
    position:absolute;
  }
.shuffle2{
    animation: shuffle2 1.5s linear 1;
    position:absolute;
  }
.shuffle3{
    animation: shuffle3 1.5s linear 1;
  }
.shuffle4{
    animation: shuffle4 1.5s linear 1;
  }
.shuffle5{
    animation: shuffle5 1.5s linear 1;
  }
.shuffle6{
    animation: shuffle6 1.5s linear 1;
  }
  
.upDown{
    animation: upDown 1s linear infinite;
  }
  
  /* 애니메이션 정의 */
  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-60px) rotate(-90deg);
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-60px) rotate(-90deg);
    }
  
    to {
      transform: rotate(0) translateY(0);
    }
  }
  
  @keyframes rotateCard {
    from {
      transform: rotate(90deg)skew(0);
    }
    
    to{
      transform-style: preserve-3d;
      z-index: 1000;
      transform: translateX(150px) rotate(90deg) rotateY(-180deg) scale(3);
    }
  }
  
  @keyframes upDown{
    0%{
      transform: translateY(0) scaleX(2);
    }
    25%{
      transform: translateY(10%) scaleX(2);
    }
    50%{
      transform: translateY(0%) scaleX(2);
    }
    70%{
      transform: translateY(-10%) scaleX(2);
    }
    100%{
      transform: translateY(0) scaleX(2);
    }
  }

  @keyframes upDownPointer{
    0%{
      transform: translateX(-90px) translateY(-273px) scale(0.06);
    }
    25%{
      transform: translateX(-90px) translateY(-265px) scale(0.06);
    }
    50%{
      transform: translateX(-90px) translateY(-273px) scale(0.06);
    }
    70%{
      transform: translateX(-90px) translateY(-281px) scale(0.06);
    }
    100%{
      transform: translateX(-90px) translateY(-273px) scale(0.06);
    }
  }


  @keyframes shuffle1{
    0%{
        transform: translateX(0);
  }
    50% {
      transform: translateX(500px) translateZ(50em);
  }
    100%{
      transform: translateX(0);
  }
}
  
  @keyframes shuffle2{
    0%{
      transform: translateX(0);
  }
    50%{
      transform: translateX(-500px) translateZ(20em);
  }
    100%{
      transform: translateX(-150px);
      
    }
}

  @keyframes shuffle3{
    0% {
      transform: translateX(0);
    }
    25%{
      transform: translateX(30px);
    }
    50%{
      transform: translateX(700px) ;
    }
    75%{
      transform: translateX(300px);
    }
    100%{
      transform:  translateX(0);
    }
  }
  
  @keyframes shuffle4{
    0% {
      transform: translateX(0);
    }
    25%{
      transform: translateX(-30px);
    }
    50%{
      transform: translateX(-350px);
    }
    75%{
      transform: translateX(700px);
    }
    100%{
      transform: translateX(0);
    }
  }
  
  @keyframes shuffle5{
    0% {
      transform: translateX(0);
    }
    25%{
      transform: translateX(150px);
    }
    50%{
      transform: translateX(70px);
    }
    75%{
      transform: translateX(150px);
    }
    100%{
      transform: translateX(0);
    }
  }
  
  @keyframes shuffle6{
    0% {
      transform: translateX(0);
    }
    25%{
      transform: translateX(700px);
    }
    50%{
      transform: translateX(150px);
    }
    75%{
      transform: translateX(10px);
    }
    100%{
      transform: translateX(0) ;
    }
  }
  

  /* 팝업창 */
  .modal {
    position: absolute;
    z-index: 5000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    /* display: inline-flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 3rem;
    border: 3px solid black;
    border-radius: 5px;
    background: lightgrey;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.9);
    font-family: "HBIOS-SYS";
  }
  .message {
    font-size:1.1rem;
    margin-bottom: 1.6rem;
    margin-top: 0;
  }
  .popBtn {
    color:inherit;
      font-family:inherit;
    font-size: inherit;
    background: gainsboro;
    padding: 0.3rem 3.4rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  }
  
  .popBtn:last-child {
    margin: 0;
  }
  
  .popBtn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .popBtn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }
  
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }